**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/publish
**/publish-linux
**/releases
**/resources
**/resources-*
!resources-minimal/
**/tools/converter/runtime
**/venv
.gemini/
.idea/
.vs/
.vscode/

# Ignore local models to avoid huge docker build context
resources/models_v1/
resources/models_v2/
resources/avatars/
